* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(55, 55, 55, 0.8);
}

.cell:hover {
    box-shadow: 0 0 4px 1px #d0d0d0;
}

.huds {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20vh;
    min-width: 100vw;
    background: #fdfdfd;
    box-shadow: 0 0 4px 1px #c0c0c0;
    /*border-radius: 10px 10px 0 0;*/
    padding: 20px;
    display: flex;
    align-items: center;
}

.display {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid grey;

    border-right: none;
    border-left: none;
    margin: 5px;
    position: relative;
}

.btn {
    display: block;
    margin: 5px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.2s;
}

/*.btn:hover {
    box-shadow: 0 0 4px 1px #d0d0d0;
}*/

.text-b {
    color: rgba(55, 55, 55, 0.8);
    font-weight: bold;
    font-size: 1.1rem;
}

.btn-group {
    display: flex;
}

.refresh {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.8rem;
    animation: rotateAnimation 20s linear infinite;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wins-and-ties {
    position: fixed;
    top: 2px;
    left: 0;
}

.wins-and-ties > span {
    margin: 2px;
    font-size: 0.9rem;
    border: 1px solid grey;
    padding: 2px 8px;
    opacity: 0.8;
    border-radius: 5px;
}

.pop-up {
  display: none;
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translate(50%, 50%);
    border: 1px solid grey;
    padding: 4px 10px;
    border-radius: 5px;
    background: mediumaquamarine;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
